.services {
    display: flex;
    margin: 10px 30px;
    //width: 80%;
    justify-content: space-around;
    .service {
        width: 35%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .card-header {
            color: #edce07;
            font-size: 20px;
            font-weight: bold;
        }
        .itemList {
            text-align: left;
        }
        .itemListColumn {
            text-align: left;
            column-count: 2;
        }
    }
}